.inner {
  width: 100%;
  max-width: $breakpoint-smallPC;
  margin: 0 auto;
}

main {
  width: 100%;
  .inner {
    background-color: $color-white;
  }
  &:has(aside) {
    .inner {
      display: flex;
      border-bottom: $line;
    }
  }
}

.contents-container {
  width: calc(100% - 25rem);
  min-height: calc(100vh - 4.25rem - 8rem);
  flex: 1;
  border-left: $line;
  border-right: $line;
}
