@mixin respond($breakpoint) {
  @if $breakpoint == smallPC {
    @media (max-width: $breakpoint-smallPC) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin block-transition {
  transition: background-color 0.25s ease, padding 0.35s ease,
    box-shadow 0.35s ease;
}

@mixin block-hover-effect {
  background-color: $color-pureWhite;
  box-shadow: -0.1875rem 0.1875rem 0 $color-textBlack inset;
}

@mixin excerpt-text {
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow: hidden;
}
