$color-ashBlue: #728cb0;
$color-ashBlueGray: #8890a3;
$color-ashBlueGray-translucent: rgba(136, 144, 163, 0.3);
$color-ashBlueLightGray: #e7e9ed;
$color-bgBeige: #e6e1e3;
$color-textBlack: #2f2f2f;
$color-lineGray: #5c5f66;
$color-white: #f4f6f9;
$color-pureWhite: #ffffff;
$color-hotPink: #e24471;
$color-green: #5bb88d;

$font-base: "Onest", "SUIT", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-base: 1rem;

$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;

$breakpoint-smallPC: 80rem;
$breakpoint-tablet: 48rem;
$breakpoint-mobile: 30rem;

$line: 1px solid $color-lineGray;
