$color-ashBlue: #728CB0;
$color-ashBlueGray: #8890A3;
$color-ashBlueLightGray: #E7E9ED;
$color-bgBeige: #E6E1E3;
$color-textBlack: #2F2F2F;
$color-lineGray: #5C5F66;
$color-white: #F4F6F9;
$color-pureWhite: #FFFFFF;
$color-hotPink: #E24471;
$color-green: #5BB88D;

$font-base: 'Onest', 'SUIT', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 800;
$font-size-base: 1rem;

$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;

$breakpoint-smallPC: 80rem;
$breakpoint-tablet: 48rem;
$breakpoint-mobile: 30rem;