.contents_feed {
  width: 100%;
  display: flex;
  &.post {
    height: 36rem;
    & > div {
      padding: $spacing-32;
    }
  }
  &.about {
    height: 15.9375rem;
    & > div {
      padding: $spacing-24;
    }
    h3.small_title {
      font-size: 1.25rem;
    }
    p {
      font-size: 0.875rem;
    }
    i {
      font-size: 1rem;
    }
  }
  & > div {
    width: 100%;
    &:first-child {
      border-right: 1px solid $color-lineGray;
    }
    &.six {
      flex: 6;
    }
    &.four {
      flex: 4;
    }
    &.three {
      width: 100%;
      height: 100%;
      flex: 3;
      .notice-post {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        .notice-post-info {
          display: flex;
          flex-direction: column;
          .notice-images {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $spacing-16;
            .image-wrap {
              width: 24%;
              aspect-ratio: 1/1;
              overflow: hidden;
              border-radius: $spacing-8;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .notice-image-box {
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                font-weight: 800;
                background-color: $color-ashBlueLightGray;
                @include flex-center;
              }
            }
          }
          .notice-text {
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $spacing-8;
            .notice-date {
              color: $color-ashBlueGray;
            }
          }
          .notice-excerpt {
            font-size: 0.875rem;
            line-height: 1.4;
            line-clamp: 3;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
          }
        }
      }
    }
    &.seven {
      width: 100%;
      flex: 7;
      display: flex;
      flex-direction: column;
      .introduction {
        width: 100%;
        display: flex;
        align-items: center;
        gap: $spacing-16;
        padding-bottom: $spacing-24;
        margin-bottom: $spacing-24;
        border-bottom: 1px solid $color-ashBlueGray-translucent;
        .img-box {
          width: 7.5625rem;
          height: 7.75rem;
          @include flex-center;
          img {
            object-fit: contain;
          }
        }
        .intro_text_area {
          display: flex;
          flex-direction: column;
          gap: 0.625rem;
          .desc_group {
            display: flex;
            flex-direction: column;
            gap: 0.375rem;
          }
        }
      }
      .contact {
        display: flex;
        align-items: center;
        gap: $spacing-16;
        .contact_item {
          display: flex;
          align-items: center;
          gap: $spacing-8;
          li {
            display: flex;
            gap: $spacing-4;
            padding: $spacing-8 $spacing-16;
            border: 1px solid $color-textBlack;
            border-radius: $spacing-8;
            transition: all 0.4s;
            &:hover {
              background-color: $color-textBlack;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
