.inner {
  display: flex;
  flex-direction: column;
  section {
    width: 100%;
    background-color: $color-white;
    border-left: $line;
    border-right: $line;
    border-bottom: $line;
    .first-block {
      border-right: $line;
    }
    .title {
      height: 3.875rem;
      font-size: 1.5rem;
      font-weight: 800;
      padding: 0 $spacing-24;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: $line;
      &.post {
        background-color: $color-ashBlueLightGray;
      }
      &.introduce {
        background-color: $color-textBlack;
        color: $color-white;
      }
    }
    &.intro-notice {
      height: 17.875rem;
      display: flex;
      .intro {
        width: 58.25rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        .rice-banner {
          height: 11.75rem;
          border-bottom: $line;
        }
        .one-word-banner {
          height: calc(100% - 11.75rem);
        }
      }
      .notice {
        width: calc(100% - 58.25rem);
        height: 100%;
      }
    }
    &.latest-post {
      height: 44.875rem;
      display: flex;
      .complaints {
        width: 36.5rem;
        height: 100%;
      }
      .life {
        width: calc(100% - 36.5rem);
        height: 100%;
        article {
          height: calc((100% - 7.75rem) / 3);
          border-bottom: $line;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    &.latest-work {
      height: 26.625rem;
      display: flex;
      flex-direction: column;
      & > div {
        width: 100%;
        &.gallery {
          height: calc(100% - 3.875rem);
        }
      }
    }
    &.who-is-bukddoo {
      height: 13.25rem;
      display: flex;
      flex-direction: column;
      & > div {
        width: 100%;
        &.introduce-contact {
          height: calc(100% - 3.875rem);
          display: flex;
          .profile {
            width: 51.875rem;
            height: 100%;
            border-right: $line;
          }
          .contact {
            width: calc(100% - 51.875rem);
            height: 100%;
          }
        }
      }
    }
  }
}
