.list-post-card-container {
  width: 100%;
  height: 11rem;
  padding: $spacing-24 $spacing-32;
  border-top: $line;
  @include block-transition;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    gap: $spacing-24;
    .thumb-wrap {
      width: 15.625rem;
      height: 100%;
      border-radius: $spacing-8;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    .post-contents-area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      .post-text {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        .post-title {
          font-size: 1.125rem;
          font-weight: 800;
        }
        .post-excerpt {
          @include excerpt-text;
          line-clamp: 3;
          -webkit-line-clamp: 3;
        }
      }
      .post-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .meta-date {
          font-size: 0.75rem;
          color: $color-ashBlueGray;
        }
        .reaction {
          display: flex;
          justify-content: flex-end;
          gap: $spacing-24;
          color: $color-ashBlue;
          .meta-icon {
            display: flex;
            gap: $spacing-4;
            align-items: center;
            font-size: 0.75rem;
            font-weight: 800;
            i {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  &:hover {
    @include block-hover-effect;
    padding: 1.6875rem 2.1875rem 1.3125rem 1.8125rem;
  }
}

.work-post-card {
  width: 100%;
  height: 100%;
  border-radius: $spacing-8;
  overflow: hidden;
  position: relative;
  z-index: 2;
  .img-box {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hover-info {
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 15%,
        rgba(0, 0, 0, 1) 100%
      );
      opacity: 0;
      transition: opacity 0.4s ease;
    }
    .hover-info-text {
      width: 100%;
      padding: 0 $spacing-16 $spacing-16 $spacing-16;
      display: flex;
      flex-direction: column;
      gap: $spacing-24;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      .work-info-text {
        width: 100%;
        color: $color-white;
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        .work-info-title {
          font-weight: 800;
          font-size: 1.25rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          word-break: keep-all;
          overflow: hidden;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          transform: translateY(0.5rem);
          opacity: 0;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
        .work-info-desc {
          @include excerpt-text;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          transform: translateY(0.5rem);
          opacity: 0;
          transition: transform 0.3s ease 0.1s, opacity 0.3s ease 0.1s;
        }
      }
      .work-info-meta {
        width: 100%;
        color: $color-ashBlueGray;
        display: flex;
        justify-content: space-between;
        transform: translateY(0.5rem);
        opacity: 0;
        transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
        .work-info-date {
          font-weight: 800;
        }
        .work-info-morebtn {
          display: flex;
          gap: $spacing-4;
        }
      }
    }
  }
}

article.main-post-card.work-area:hover,
article.work-post-card:hover {
  .hover-info {
    &::before {
      opacity: 0.8;
    }
    .work-info-title,
    .work-info-desc,
    .work-info-meta {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
