.is-empty {
  width: 100%;
  background-color: #efefef;
  @include flex-center;
  .no-post {
    width: 60%;
    height: 100%;
    @include flex-center;
    gap: $spacing-16;
    .no-post-icon {
      width: 20%;
      height: auto;
      img {
        object-fit: contain;
      }
    }
    .no-post-text {
      display: flex;
      align-items: center;
      color: $color-ashBlueGray;
    }
  }
}
