.filter-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-24;
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    .filter-options {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-8;
      label {
        display: inline-flex;
        align-items: center;
        padding: 0.625rem $spacing-16;
        border-radius: $spacing-4;
        background-color: $color-ashBlueLightGray;
        &.filter-active {
          color: $color-white;
          background-color: $color-ashBlue;
        }
      }
    }
    .tag-search-input {
      width: 100%;
      padding: 0.625rem $spacing-24;
      background-color: $color-ashBlueLightGray;
      border-radius: $spacing-8;
      &::placeholder {
        color: $color-ashBlueGray;
        line-height: 1;
        letter-spacing: -0.02em;
      }
    }
  }
}
